<h2>{{ movie.title }}</h2>
<p><strong>Genre:</strong> {{ movie.genre }}</p>
<p><strong>Plot:</strong> {{ movie.plot }}</p>
<p><strong>Cast:</strong></p>
<ul>
    {{#each movie.cast}}
    <li>{{ this.name }} - {{ this.occupation }} - {{ this.catchPhrase }}</li>
    {{/each}}
</ul>
{{!-- <form method="POST " action="/movies/{{ movie._id }}/delete"> --}}

<form method="POST" action="/movies/{{ movie._id }}/delete">
    <button type="submit">Delete Movie</button>
</form>
<a href="/movies/{{ movie._id }}/edit"><button type="submit">Edit Movie</button></a>
{{!-- </form> --}}